In [1]:
import pandas as pd 
from sklearn import preprocessing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import pandas as pd

In [2]:
path = "E:/Data analytics bootcamp/Challenges/final/data/car_standard_models.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,24990,2018,acura,tlx 3.5 w/technology pkg,good,6 cylinders,other,45464,clean,other,fwd,sedan,blue,oh,tlx
1,2399,2003,acura,mdx,fair,6 cylinders,gas,143000,clean,automatic,4wd,SUV,grey,nj,mdx
2,0,2008,acura,tl type s,like new,6 cylinders,gas,99000,clean,automatic,fwd,sedan,black,nj,tl
3,10950,2012,acura,tsx,good,4 cylinders,gas,115162,clean,automatic,fwd,sedan,white,ks,tsx
4,30995,2018,acura,mdx sh-awd,like new,6 cylinders,gas,48743,clean,automatic,4wd,SUV,grey,nj,mdx

In [4]:
df.columns

Index(['price', 'year', 'manufacturer', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model'],
      dtype='object')

In [5]:
df = df.drop(columns=["model"])

In [6]:
values_to_remove = ['1111','11111','111111','99999', '999999', '9999999', '12', '123', '1234', '12345', '123456', '1234567', '12345678', '123456789']

# Convert 'price' and 'odometer' columns to numeric (ignoring errors, which will convert non-numeric values to NaN)
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')

# Filter out rows based on specified values in 'price' and 'odometer'
df = df.loc[~df['price'].isin(values_to_remove) & ~df['odometer'].isin(values_to_remove)]

In [7]:
le = preprocessing.LabelEncoder()

In [18]:
df = df[df['price'] > 1000]
df = df[df['price'] < 200000]
df = df[df['odometer'] > 1000]
df = df[df['odometer'] < 250000]
df = df[df['year'] > 2000]

In [19]:
df

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,24990,2018,acura,good,6 cylinders,other,45464,clean,other,fwd,sedan,blue,oh,tlx
1,2399,2003,acura,fair,6 cylinders,gas,143000,clean,automatic,4wd,SUV,grey,nj,mdx
3,10950,2012,acura,good,4 cylinders,gas,115162,clean,automatic,fwd,sedan,white,ks,tsx
4,30995,2018,acura,like new,6 cylinders,gas,48743,clean,automatic,4wd,SUV,grey,nj,mdx
5,15995,2012,acura,excellent,6 cylinders,gas,58265,clean,automatic,4wd,SUV,white,ok,mdx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115899,2700,2005,volvo,fair,5 cylinders,gas,218000,clean,automatic,fwd,sedan,black,tn,s80
115901,2999,2004,volvo,good,5 cylinders,gas,234858,clean,automatic,fwd,SUV,grey,oh,xc90
115902,6500,2007,volvo,excellent,8 cylinders,gas,110000,clean,automatic,4wd,sedan,white,ny,s8
115903,8600,2012,volvo,excellent,4 cylinders,gas,99813,clean,automatic,fwd,sedan,black,oh,s60
115906,4995,2008,volvo,good,6 cylinders,gas,91008,clean,automatic,4wd,sedan,silver,nj,s80

In [20]:
categorical_columns = ['manufacturer', 'condition', 'fuel', 'title_status', 'transmission',
                        'drive', 'type', 'paint_color', 'state', 'standard_model', 'cylinders']

# Create a copy of the original DataFrame
hashed_df = df.copy()

# Hash each value in the categorical columns and map them to a fixed range
for column in categorical_columns:
    hashed_df[column] = df[column].apply(lambda x: hash(str(x)) % 1000000)  

# Display the resulting DataFrame
hashed_df

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,24990,2018,687703,802486,777114,748456,45464,803965,748456,578637,401664,300245,18354,419637
1,2399,2003,687703,432491,777114,221164,143000,803965,343131,596569,39018,884548,121508,578257
3,10950,2012,687703,802486,598836,221164,115162,803965,343131,578637,401664,725879,301484,28101
4,30995,2018,687703,83100,777114,221164,48743,803965,343131,596569,39018,884548,121508,578257
5,15995,2012,687703,659439,777114,221164,58265,803965,343131,596569,39018,725879,251982,578257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115899,2700,2005,669163,432491,303768,221164,218000,803965,343131,578637,401664,191094,89556,792944
115901,2999,2004,669163,802486,303768,221164,234858,803965,343131,578637,39018,884548,18354,648753
115902,6500,2007,669163,659439,233905,221164,110000,803965,343131,596569,401664,725879,7507,746887
115903,8600,2012,669163,659439,598836,221164,99813,803965,343131,578637,401664,191094,18354,138178
115906,4995,2008,669163,802486,777114,221164,91008,803965,343131,596569,401664,919888,121508,792944

In [21]:
hashed_df.columns

Index(['price', 'year', 'manufacturer', 'condition', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model'],
      dtype='object')

In [22]:
X = hashed_df.drop(columns=['price'])
y = hashed_df['price']

In [23]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
# Initialize and train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)  
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [25]:
# Make predictions on the test set
predictions = rf_model.predict(X_test)

In [26]:
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})

# Display the DataFrame
print(comparison_df)

        Actual     Predicted
65058    10700  13478.550000
95372    17500  25882.900000
107310   14250  12893.770000
6299     17690  18113.790000
62101     2500   2538.383333
...        ...           ...
79237     8850   8599.440000
48404    14995  13545.730000
26427     7995   7809.230000
50790     3900   5848.870000
59185    13550  10718.110000

[19199 rows x 2 columns]

In [27]:
r2 = r2_score(y_test, predictions)
print(f'R-squared value: {r2}')

R-squared value: 0.9049578266414616

In [38]:
# Manualy input a car to test it's value

data = {
    'price': [1],
    'year': [2017],
    'manufacturer': ['honda'],
    'condition': ['like new'],
    'cylinders': ['4 cylinders'],
    'fuel': ['gas'],
    'odometer': [6000],
    'title_status': ['clean'],
    'transmission': ['manual'],
    'drive': ['fwd'],
    'type': ['sedan'],
    'paint_color': ['gray'],
    'state': ['ct'],
    'standard_model': ['civic'],
} 

test_data = pd.DataFrame(data)

In [39]:
test_data.head()

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,1,2017,honda,like new,4 cylinders,gas,6000,clean,manual,fwd,sedan,gray,ct,civic

In [40]:
categorical_columns = ['manufacturer', 'condition', 'fuel', 'title_status', 'transmission',
                        'drive', 'type', 'paint_color', 'state', 'standard_model', 'cylinders']

# Create a copy of the original DataFrame
hashed_test_df = test_data.copy()

# Hash each value in the categorical columns and map them to a fixed range
for column in categorical_columns:
    hashed_test_df[column] = test_data[column].apply(lambda x: hash(str(x)) % 1000000)  

# Display the resulting DataFrame
hashed_test_df

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,1,2017,331915,83100,598836,221164,6000,803965,538035,578637,401664,263054,412029,604430

In [41]:
test = hashed_test_df.drop(columns='price')

In [42]:
predictions_test = rf_model.predict(test)

In [43]:
print(predictions_test)

[22325.15]