In [1]:
import pandas as pd 
from sklearn import preprocessing
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
path = "E:/Data analytics bootcamp/Challenges/final/data/car_standard_models.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,Unnamed: 0,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
0,299497,24990,2018.0,acura,tlx 3.5 w/technology pkg,good,6 cylinders,other,45464.0,clean,other,fwd,sedan,blue,oh,tlx
1,253392,2399,2003.0,acura,mdx,fair,6 cylinders,gas,143000.0,clean,automatic,4wd,SUV,grey,nj,mdx
2,253362,0,2008.0,acura,tl type s,like new,6 cylinders,gas,99000.0,clean,automatic,fwd,sedan,black,nj,tl
3,164400,10950,2012.0,acura,tsx,good,4 cylinders,gas,115162.0,clean,automatic,fwd,sedan,white,ks,tsx
4,253279,30995,2018.0,acura,mdx sh-awd,like new,6 cylinders,gas,48743.0,clean,automatic,4wd,SUV,grey,nj,mdx

In [4]:
df.columns

Index(['Unnamed: 0', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'state', 'standard_model'],
      dtype='object')

In [5]:
df = df.drop(columns=["model", 'Unnamed: 0'])

In [6]:
makes = df['manufacturer'].unique()
print(makes)

['acura' 'audi' 'bmw' 'buick' 'cadillac' 'chevrolet' 'chrysler' 'datsun'
 'dodge' 'ferrari' 'fiat' 'ford' 'gmc' 'honda' 'hyundai' 'infiniti'
 'jaguar' 'jeep' 'kia' 'land rover' 'lexus' 'lincoln' 'mazda'
 'mercedes-benz' 'mercury' 'mini' 'mitsubishi' 'nissan' 'pontiac'
 'porsche' 'ram' 'rover' 'saturn' 'subaru' 'tesla' 'toyota' 'volkswagen'
 'volvo']

In [7]:
manufacturer_dfs = {}

for manufacturer in makes:
    # Create a DataFrame for each manufacturer
    manufacturer_dfs[manufacturer] = df[df['manufacturer'] == manufacturer]

In [8]:
toyota_df = manufacturer_dfs['toyota']

In [40]:
ford_df = manufacturer_dfs['ford']

In [9]:
toyota_df.head()

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
102667,39590,2018.0,toyota,good,6 cylinders,gas,34199.0,clean,other,4wd,other,red,va,limited
102668,13498,2013.0,toyota,good,6 cylinders,other,151754.0,clean,automatic,fwd,other,white,ne,highlander
102669,4400,2004.0,toyota,excellent,6 cylinders,gas,259300.0,clean,automatic,fwd,mini-van,red,id,sienna
102670,27999,2007.0,toyota,like new,6 cylinders,gas,22500.0,clean,automatic,4wd,truck,white,mi,tacoma
102671,3900,2008.0,toyota,good,4 cylinders,gas,157000.0,clean,automatic,fwd,sedan,grey,nj,camry

In [12]:
toyota_df.columns

Index(['price', 'year', 'manufacturer', 'condition', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model'],
      dtype='object')

In [10]:
le = preprocessing.LabelEncoder()

In [14]:
toyota_df[['manufacturer', 'condition', 'cylinders', 'fuel',
       'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model']]= toyota_df[['manufacturer', 'condition', 'cylinders', 'fuel',
       'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model']].apply(le.fit_transform)

C:\Users\Brown\AppData\Local\Temp\ipykernel_40116\1178702619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota_df[['manufacturer', 'condition', 'cylinders', 'fuel',

In [15]:
toyota_df

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
102667,39590,2018.0,0,2,4,2,34199.0,0,2,0,6,8,45,43
102668,13498,2013.0,0,2,4,4,151754.0,0,0,1,6,10,29,35
102669,4400,2004.0,0,0,4,2,259300.0,0,0,1,4,8,13,71
102670,27999,2007.0,0,3,4,2,22500.0,0,0,0,9,10,22,79
102671,3900,2008.0,0,2,2,2,157000.0,0,0,1,8,5,31,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112751,31990,2017.0,0,2,4,2,23401.0,0,2,0,7,10,4,79
112752,34990,2014.0,0,2,4,2,1112.0,0,2,0,7,10,43,79
112753,3495,2007.0,0,2,2,2,99056.0,0,0,1,3,8,9,37
112754,6100,1997.0,0,2,4,2,247000.0,0,0,0,0,2,36,0
112755,24995,2018.0,0,0,5,2,27611.0,0,0,0,7,5,41,84

In [16]:
toyota_df = toyota_df[toyota_df['price'] > 1000]

In [73]:
toyota_df = toyota_df[toyota_df['price'] < 200000]

In [74]:
categorical_columns = ['manufacturer', 'condition', 'fuel', 'title_status', 'transmission',
                        'drive', 'type', 'paint_color', 'state', 'standard_model']

# Create a copy of the original DataFrame
hashed_df = toyota_df.copy()

# Hash each value in the categorical columns and map them to a fixed range
for column in categorical_columns:
    hashed_df[column] = toyota_df[column].apply(lambda x: hash(str(x)) % 1000000)  # Modulo to map to a range

# Display the resulting DataFrame
print(hashed_df)

        price    year  manufacturer  condition  cylinders    fuel  odometer  \
102667  39590  2018.0        540183     668966          4  668966   34199.0
102668  13498  2013.0        540183     668966          4  527809  151754.0
102669   4400  2004.0        540183     540183          4  668966  259300.0
102670  27999  2007.0        540183     190647          4  668966   22500.0
102671   3900  2008.0        540183     668966          2  668966  157000.0
...       ...     ...           ...        ...        ...     ...       ...
112751  31990  2017.0        540183     668966          4  668966   23401.0
112752  34990  2014.0        540183     668966          4  668966    1112.0
112753   3495  2007.0        540183     668966          2  668966   99056.0
112754   6100  1997.0        540183     668966          4  668966  247000.0
112755  24995  2018.0        540183     540183          5  668966   27611.0

        title_status  transmission   drive    type  paint_color   state  \
102667        540183        668966  540183  317690        34062  788921
102668        540183        540183  599289  317690       615403  576461
102669        540183        540183  599289  527809        34062  521885
102670        540183        540183  540183  640551       615403  398779
102671        540183        540183  599289   34062       340493  420974
...              ...           ...     ...     ...          ...     ...
112751        540183        668966  540183  894473       615403  527809
112752        540183        668966  540183  894473       615403  530168
112753        540183        540183  599289  190647        34062  640551
112754        540183        540183  540183  540183       668966  994220
112755        540183        540183  540183  894473       340493  231684

        standard_model
102667          530168
102668          797495
102669          953606
102670           50794
102671          640551
...                ...
112751           50794
112752           50794
112753          723570
112754          540183
112755          933384

[9465 rows x 14 columns]

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,  r2_score
import pandas as pd

In [76]:
# Assuming 'price' is the target variable
target_column = 'price'

# Extract features and target variable
X = hashed_df.drop(target_column, axis=1)
y = hashed_df[target_column]

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)  # You can adjust the number of trees (n_estimators) as needed
rf_model.fit(X_train, y_train)

# Make predictions on the test set
predictions = rf_model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error (Random Forest): {mse}')

Mean Squared Error (Random Forest): 22214539.027255807

In [77]:
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})

# Display the DataFrame
print(comparison_df)

        Actual     Predicted
106967    2700   2310.240000
108239    8950   9978.540000
107700    7460   8110.210000
110164   11995  12710.750000
109033    7995   8567.870000
...        ...           ...
112513    5950   5950.000000
110273    3995   2813.700000
108598    6850   8105.016667
112579    4500   5339.760000
106864    3999   3600.156667

[1893 rows x 2 columns]

In [78]:
r2 = r2_score(y_test, predictions)
print(f'R-squared value: {r2}')

R-squared value: 0.8601707529065367

In [80]:
comparison_df.to_csv('E:/Data analytics bootcamp/Challenges/final/data/predict.csv')